.cabecalho{
    background-image: url("../images/background_topo.jpg");
    height: 200px;
}

.logo{
    margin-top: 20px;
    margin-left: 20px;
}
.barra-cliente{
    background-color: black;
    background: linear-gradient(black,rgb(14, 14, 121), black);
    color: white;
    padding: 5px;
}