/*Barra dos utilizadores*/
    .barra_utilizadores {
    margin: 0px;
    padding: 20px;
    text-align: right;
    background-color: rgb(32, 32, 32);
    color: rgb(232, 234, 240);

    a{
        text-decoration: none;
        color: rgb(14, 13, 13);
    }
    a:hover{
        color: rgb(22, 22, 22);
    }
}

.barra_utilizador_inativo {
    color: rgb(97, 97, 97);
}

.barra_utilizador_ativo{
    color: black;
}