@import url("barra_cliente.css");
@import url("cabecalho.css");
@import url("index.css");
@import url("rodape.css");
@import url("signup.css");


body{
    background-color: black;
    color: black;   
}


.btn-size-100 {
    width: 100px;
}

.btn-size-150 {
    width: 150px;
}

.btn-size-200 {
    width: 200px;
}

.btn-size-250 {
    width: 250px;
}

.btn-size-300 {
    width: 300px;
}

